<mat-toolbar color="primary" class="main-header mat-elevation-z5">
    <div class="main-heading">
        <span class="main-heading-title">
            <a mat-mini-fab routerLink="/dashboard" ><mat-icon>home</mat-icon></a>
            Issue Tracking
        </span>
        <div class="main-heading-toolbar">
            <a mat-button *ngFor="let menu of appMenus" routerLink="{{menu.route}}">{{menu.name}}</a>
            <a mat-raised-button color="accent" (click)="toggleSignIn()">Sign In</a>            
        </div>
    </div>
</mat-toolbar>
<div class="main-content">    
    <router-outlet></router-outlet>
</div>
<mat-toolbar color="primary"  class="main-footer">
    <a mat-button>@sanjusoft72539@gmail.com</a>
    <a mat-raised-button color="primary"><mat-icon>help</mat-icon></a>
</mat-toolbar>
<app-user-signin *ngIf="isSignInEnabled" (signInClosed)="toggleSignIn()"></app-user-signin>