/* You can add global styles to this file, and also import other style files */


body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-card-title{
    font-size:1.25rem;
}

form span.error {
    font-size:0.8rem;
    color:red;
}

form span.success {
    font-size:0.8rem;
    color:green;
}