<div class="signup-form-container">
  <form
    class="signup-form"
    [formGroup]="signupForm"
    (ngSubmit)="onSignUpSubmit()"
  >
    <mat-card>
      <mat-card-title>User SignUp Form</mat-card-title>
      <mat-card-content>
        <mat-form-field>
          <mat-label>User Name</mat-label>
          <input matInput formControlName="username" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Email ID</mat-label>
          <input matInput formControlName="emailid" />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Password</mat-label>
          <input
            matInput
            [type]="hide ? 'password' : 'text'"
            formControlName="password"
          />
          <button
            type="button"
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            tabindex="-1"
          >
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Confirm Password</mat-label>
          <input
            matInput
            [type]="hide ? 'password' : 'text'"
            formControlName="confirmPassword"
          />
          <button
            type="button"
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            tabindex="-1"
          >
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
        </mat-form-field>
        <span
          class="error"
          *ngIf="
            signupForm.hasError('noMatch') &&
            signupForm.get('password').valid &&
            signupForm.get('confirmPassword').touched
          "
          >Password entered doesnot match</span
        >

        <mat-form-field>
          <mat-label>Security Question</mat-label>
          <mat-select formControlName="selectSecurityQuestion">
            <mat-option
              *ngFor="let question of securityQuestions"
              [value]="question"
            >
              {{ question }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Security Answer</mat-label>
          <input matInput formControlName="securityAnswer" />
        </mat-form-field>
        <p>
          <span class="error" *ngIf="errorMessage">{{ errorMessage }}</span>
          <span class="success" *ngIf="successMessage">{{
            successMessage
          }}</span>
        </p>
        <p class="signup-button">
          <button mat-raised-button color="primary">Submit</button>
          <button mat-raised-button type="reset">Reset</button>
        </p>
      </mat-card-content>
    </mat-card>
  </form>
</div>
