<div class="flex-container" fxLayout="row wrap" fxLayoutGap="20px" >
    <div class="flex-child">data 1</div>
    <div class="flex-child">data 2</div>
    <div class="flex-child">data 3</div>
    <div class="flex-child">data 4</div>
    <div class="flex-child">data 5</div>
    <div class="flex-child">data 1</div>
    <div class="flex-child">data 2</div>
    <div class="flex-child">data 3</div>
    <div class="flex-child">data 4</div>
    <div class="flex-child">data 5</div>
    <div class="flex-child">data 1</div>
    <div class="flex-child">data 2</div>
    <div class="flex-child">data 3</div>
    <div class="flex-child">data 4</div>
    <div class="flex-child">data 5</div>
    <div class="flex-child">data 1</div>
    <div class="flex-child">data 2</div>
    <div class="flex-child">data 3</div>
    <div class="flex-child">data 4</div>
    <div class="flex-child">data 5</div>
</div>
